#headering {
   font: 69px;
   background-color: rgb(82, 19, 19);
   color: darkturquoise;
   text-align: center;
}

body {
   background-image: url("assets/ballpitballs.jpg");
   background-repeat: repeat-y;
   background-position: center;
   background-color: greenyellow;
}

.colorButton {
   padding: 30px;
   color: cornflowerblue;
   background-color: darkorange;
   display: inline-block;
}

#divColorButton {
   text-align: center;
}

#divBallIntro {
   text-align: center;
}

#introToBalls {
   color: rgb(119, 36, 119);
   background-color: rgb(122, 192, 233);
   font-family: Arial, Helvetica, sans-serif;
}

#singleBall {
   width: 15%;
}