#headering {
   font: 69px;
   background-color: brown;
   color: darkturquoise;
   text-align: center;
}

body {
   background-image: url("assets/ballpitballs.jpg");
   background-repeat: no-repeat;
   background-position: center;
}