/* setup */

.wrapper > div {
   background: #eee;
   padding: 1em;
}


.wrapper > div:nth-child(odd) {
   background: #bbb;
}

/* CSS Grid - Intermediate Concepts */
.wrapper {
   display: grid;
   /* grid-template-columns: 70% 30%; */
   /* grid-template-columns: 1fr 1fr 1fr; */
   /* grid-column-gap: 1em;
   grid-row-gap: 1em; */
   /* repeat x times in a row */
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1em;
   /* grid-auto-rows: 100px; */

   grid-auto-rows: minmax(100px, auto);
}